.bio {
  padding: 0.8rem;
  max-width: 750px;
  color: #000000;
}

.bio__link {
  color: inherit;
}

.bio__text {
  margin-bottom: 1rem;
  line-height: 1.5;
  text-indent: 2em;
  font-family: "Adler", serif;
}
